{% extends 'webapp/base.html' %}

{% block content %}

    {% if actividades %}
       {% for actividade in actividades %}
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{{ actividade.imagem.url }}" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
 
          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
            <h3 >{{actividade.titulo}}</h3>
                                      {{actividade.conteudo|slice:210}}
                                 {% if actividade.conteudo|length > 200 %}...{% endif %}
                                 </div>


          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
          {% endfor %}
                 {% endif %}

{% endblock content %}