{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- *********************** FORM ADD *********************************************** -->
    <div class="container">
    <div class="row mt-4">
              <div class="col-lg-12">{% include "users/alerts.html" %}</div>
            </div>
    </div>

    <div id="contact" class="form-2">
    <div class="container">
              <!-- Contact -->
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">Contactos</div>
                    <h2>Entre em contato usando o formulário</h2>
<!--                    <p>Use o formulário de contato ao lado para quaisquer perguntas e dúvidas que tiver.</p>-->
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>{{endereco.localizacao}}</li>
                        <li><i class="fas fa-phone"></i>{{endereco.tel1}}</li>
                        <li><i class="fas fa-phone"></i>{{endereco.tel2}}</li>
                        <li><i class="fas fa-envelope"></i>{{endereco.email}}</li>
                    </ul>
                    <h3>Siga-nos nas nossas redes socias</h3>

                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-pinterest fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-behance fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <!-- Contact Form -->
                <form method="post" data-toggle="validator" data-focus="false">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="cname" name="nome" required>
                        <label class="label-control" for="cname">Nome</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control-input" id="cemail" required>
                        <label class="label-control" for="cemail">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="numeroTelefone" class="form-control-input" id="lphone" required>
                        <label class="label-control" for="lphone">Nº de telefone</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    {% if servicos %}
                    <div class="form-group">
                        <select class="form-control-select" name="interesse" id="lselect" required>
                            <option class="select-option" value="" disabled selected>Interessado em...</option>
                            {% for servico in servicos %}
                                <option class="select-option" value="{{ servico.pk }}">{{ servico.nome }}</option>
                            {% endfor %}
{#                            <option class="select-option" value="Advogacia">Advogacia</option>#}
{#                            <option class="select-option" value="Assistência Social ">Assistência Social</option>#}
{#                            <option class="select-option" value="Jurista">Jurista</option>#}
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                    {% endif %}
                <div class="form-group">
                        <input type="text" name="assunto" class="form-control-input" id="lassunto">
                        <label class="label-control" for="lassunto">Assunto</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea name="mensagem" class="form-control-textarea" id="cmessage" required></textarea>
                        <label class="label-control" for="cmessage">Sua mensagem</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Enviar Mensagem</button>
                    </div>
{#                        <div class="form-message">#}
{#                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>#}
{#                        </div>#}
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->

{% endblock content %}