{% extends "users/base.html" %} {% load static %} {% block title %} - Adicionar
Link de Actividade {%endblock title %} {% block content %}

<div class="row">
  <div class="col-lg-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'users:dilide-admin' %}"><i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/"><i class="fa fa-globe"></i> Web Site</a>
      </li>
      <li>
        <a href="{% url 'users:dashboard' %}"
          ><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="{% url 'users:listaractividades' %}"
          ><i class="fa fa-list"></i> Listar Actividades</a>
      </li>
      <li class="active"><i class="fa fa-plus"></i> Adicionar Link</li>
    </ul>
    <!--breadcrumbs end -->
  </div>

  <div class="col-lg-12">
    <!--tab nav start-->
    <section class="panel general">
      <header class="panel-heading tab-bg-dark-navy-blue">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#adicionar">
              <i class="fa fa-plus"></i>
              Adicionar
            </a>
          </li>
        </ul>
      </header>
      <div class="panel-body">
        <div class="tab-content">
          <div id="adicionar" class="tab-pane active">
            <!-- *********************** FORM ADD *********************************************** -->
            <div class="row">
              <div class="col-lg-12">{% include "users/alerts.html" %}</div>
              <div class="col-lg-8">
                <section class="panel">
                  <div class="panel-body">
                    <!-- ************** START FORM *********************** -->
                    <form
                      role="form"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="actividade">Actividade</label>
                        <input
                          type="text"
                          name="actividade"
                          class="form-control"
                          id="actividade"
                          value="{{actividade}}"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label for="link">Link</label>
                        <input
                          type="text"
                          name="link"
                          class="form-control"
                          id="link"
                          placeholder="Link da actividade"
                        />
                      </div>
                      <button type="submit" class="btn btn-info">
                        Guardar
                      </button>
                    </form>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--tab nav end-->
  </div>
</div>
{% endblock content %}
