{% extends "users/base.html" %} {% load static %} {% block title %} - Adicionar
Actividade {%endblock title %} {% block content %} {% load crispy_forms_tags %}

<div class="row">
  <div class="col-lg-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'users:dilide-admin' %}"
          ><i class="fa fa-home"></i> Home</a
        >
      </li>
      <li>
        <a href="/"><i class="fa fa-globe"></i> Web Site</a>
      </li>
      <li>
        <a href="{% url 'users:dashboard' %}"
          ><i class="fa fa-dashboard"></i> Dashboard</a
        >
      </li>
      <li>
        <a href="{% url 'users:listaractividades' %}"
          ><i class="fa fa-list"></i> Listar Actividades</a
        >
      </li>
      <li class="active"><i class="fa fa-plus"></i> Adicionar Actividade</li>
    </ul>
    <!--breadcrumbs end -->
  </div>

  <div class="col-lg-12">
    <!--tab nav start-->
    <section class="panel general">
      <header class="panel-heading tab-bg-dark-navy-blue">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#adicionar">
              <i class="fa fa-plus"></i>
              Adicionar
            </a>
          </li>
        </ul>
      </header>
      <div class="panel-body">
        <div class="tab-content">
          <div id="adicionar" class="tab-pane active">
            <!-- *********************** FORM ADD *********************************************** -->
            <div class="row">
              <div class="col-lg-12">{% include "users/alerts.html" %}</div>
              <!-- ****************************** START ERROR ALERT ****************************** -->
              <div class="col-lg-12">
                {% if form.errors %}
                <div class="alert alert-danger alert-dismissable">
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-hidden="true"
                  >
                    ×
                  </button>
                  <i class="fa fa-info-circle"></i> {{form.errors}}
                </div>
                {% endif %}
              </div>
              <!-- ****************************** END ERROR ALERT ****************************** -->

              <div class="col-lg-8">
                <section class="panel">
                  <div class="panel-body">
                    <!-- ************** START FORM *********************** -->
                    <form
                      role="form"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      {% csrf_token %} {% comment %}
                      <div class="form-group">
                        <label for="name">Nome</label>
                        <input
                          type="text"
                          name="nome"
                          class="form-control"
                          id="name"
                          placeholder="Nome do Serviço"
                        />
                      </div>
                      <div class="form-group">
                        <label for="titulo">Título</label>
                        <input
                          type="text"
                          name="titulo"
                          class="form-control"
                          id="titulo"
                          placeholder="Titulo"
                        />
                      </div>
                      <div class="form-group">
                        <label for="conteudo">Conteúdo</label>
                        <textarea
                          class="form-control"
                          name="conteudo"
                          id="conteudo"
                          cols="30"
                          rows="8"
                        ></textarea>
                      </div>
                      <div class="form-group">
                        <label for="image">Imagem</label>
                        <input type="file" name="imagem" id="image" />
                      </div>
                      {% endcomment %} {{form|crispy}}
                      <button type="submit" class="btn btn-info">
                        Guardar
                      </button>
                    </form>
                    <!-- ************** END FORM *********************** -->
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--tab nav end-->
  </div>
</div>
{% endblock content %}
