{% extends 'step/baseAdmin.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li class="active">Perfil</li>
            <li><a style="color: rgb(95, 93, 93);"><i class="fa fa-user"></i> {{current_user.nome}} </a></li>
        </ul>
        <!--breadcrumbs end -->    
    </div>
    <!-- Alert Messages -->
</div>
<br><br>

    <div class="caixa-login">
    <div class="col-md-4 subcaixa">
    <div class="row">
        <div class="col-md-12 border-caixa mb-3" style="border-radius: 5px;">
            <div class="form-group caixaUser" style='margin-top: 15px;'>
            <img src="{{ user.perfil.imagem.url }}" alt="" class="img-circle" style="width: 100px; height: 100px;"">
            </div>
            <!-- form -->
            <!-- formulario de actualizar perfil -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">Perfil</legend>
                    {{ form_user|crispy}}
                    {{ form_perfil|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Atualizar</button>
                </div>
            </form>
            
        </div>
    </div>
    </div>

    </div>
{% endblock content %}