{% extends 'step/baseHome.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

    <nav class="navbar nav-login">
        <a href="{% url 'step:index' %}">Step Admin</a>
    </nav>

    <br> <br> <br>
    
    <div class="caixa-login">
        <div class="col-md-4 subcaixa mb-5" >
        <!-- formulário de criação de conta -->
        <form method="POST" action="">
            {% csrf_token %}

            <fieldset class="form-group">
            <br>
                <div class="form-group caixaUser">
                    <div>
                        <i class="fa fa-user"></i>
                    </div>
                </div>

{% csrf_token %} {{form|crispy}}

            <div class="login-wrap">
            <!-- <input
            type="text"
            name="username"
            class="form-control"
            value="{{form.username.value}}"
            placeholder="Usuário"
           autocomplete="off"
            />
            <br />
            <input
            type="email"
            name="email"
            class="form-control"
            placeholder="email"
            value="{{form.email.value}}"
            autocomplete="off"
            />
           
            <br />
            <input
            type="password"
            name="password1"
            class="form-control"
            placeholder="Password"
            value="{{form.password1.value}}"
            />
            <br />
            <input
            type="password"
            name="password2"
            value="{{form.password2.value}}"
            class="form-control"
            placeholder="Confirmar"
            
            />
            <label class="checkbox"> -->
            <span class="pull-right"> </span>
            </label>
            <button class="btn btn-primary btn-block" type="submit">
            Registar-se
            </button>

            
                
                <!-- Link para registar-se -->
                <small class="text-muted ml-2"> <a href="{% url 'step:login' %}">Já possui uma conta?</a> </small>

            </fieldset>
        </form>
        </div>
    </div>
{% endblock content %}