{% extends 'webapp/base.html' %}

{% block content %}

     {% if servico %}
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">{{ servico.dataCriacao }}</div>
                        <h2> {{ servico.nome }}</h2>
                        <p class="testimonial-text"> {{ servico.titulo }} </p>
                        <p>{{ servico.conteudo }}</p>
                    </div> 
                </div> 
                <div class="col-lg-7">
                    <div class="image-container"> 
                        <img class="img-fluid" src="{{ servico.imagem.url }}"  width="635px" height="410px" alt="alternative">
                    </div> 
                </div> 
                        {% if servico.servicosdetalhes_set.all %}
        <div class="container">
            <div class="row mt-4 mb-4">
                {% for item in servico.servicosdetalhes_set.all|slice:5 %}
                    <div class="col-12">
                    <div class="sermons-text">
                        <h2>{{ item.titulo }}</h2>
                        <p class="text mt-2">{{ item.conteudo }}</p>
                    </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
            </div>

        </div> 
    </div> 
{% endif %}

{% endblock content %}

