{% extends "users/base.html" %} {% load static %} {% block title %} - Dashboard
Serviços {%endblock title %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'users:dilide-admin' %}"
          ><i class="fa fa-home"></i> Home</a
        >
      </li>
      <li>
        <a href="/"><i class="fa fa-file"></i> Web Site</a>
      </li>
      <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
    </ul>
    <!--breadcrumbs end -->
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-envelope-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">26</div>
            <div>MENSAGENS!</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">Ver Detalhes</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-projectos">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-paperclip fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">12</div>
            <div>PROJECTOS!</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">Ver Detalhes</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-actividades">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-desktop fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">124</div>
            <div>ACTIVIDADES!</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">Ver Detalhes</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-sevicos">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">4</div>
            <div>SERVIÇOS!</div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left">Ver Detalhes</span>
          <span class="pull-right"
            ><i class="fa fa-arrow-circle-right"></i
          ></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock content %}
