{% extends "users/base.html" %} {% load static %} {% block title %} - Listar
Áreas {%endblock title %} {% block content %}

<div class="row">

  <div class="col-lg-12">
    <!--breadcrumbs start -->
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'users:dilide-admin' %}"
          ><i class="fa fa-home"></i> Home</a
        >
      </li>
      <li>
        <a href="/"><i class="fa fa-globe"></i> Web Site</a>
      </li>
      <li>
        <a href="{% url 'users:dashboard' %}"
          ><i class="fa fa-dashboard"></i> Dashboard</a
        >
      </li>
      <!-- <li>
        <a href="#"
          ><i class="fa fa-plus"></i> Adicionar Área</a
        >
      </li> -->
      <li class="active"><i class="fa fa-list-ul"></i> Listar Áreas</li>
    </ul>
    <!--breadcrumbs end -->
  </div>

  <div class="col-lg-12">
    <!--tab nav start-->
    <section class="panel general">
      <header class="panel-heading tab-bg-dark-navy-blue">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#listar">
              <i class="fa fa-list-ol"></i>
              Listar
            </a>
          </li>
        </ul>
      </header>
      <div class="panel-body">
        <div class="tab-content">
          <div id="listar" class="tab-pane active">
            <div class="row">
              <div class="col-lg-12">
                <!--******************* START SHOW ALERT **************************** -->
                {% include "users/alerts.html" %}
                <!--******************* END SHOW ALERT **************************** -->
              </div>
              </div>
              <div class="col-md-12">
                <section class="panel">
                  <div class="panel-body table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Nome</th>
                          <th>Subítulo</th>
                          <th>Actualização</th>
                          <th>Criação</th>
                          <th>Usuário</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if areas %} {% for area in areas %}
                        <tr>
                          <td>{{ area.pk }}</td>
                          <td>{{ area.nome }}</td>
                          <td>
                            {{ area.subtitulo|slice:80 }} 
                            {% if area.subtitulo|length > 80 %}
                            <a
                              href="{% url 'users:area' area.pk %}"
                              style="color: #337ab7"
                              >...</a>
                            {% endif %}
                          </td>
                          <td>
                            {{ area.dataAtualizacao|date:"SHORT_DATE_FORMAT" }}
                          </td>
                          <td>
                            {{ area.dataCriacao|date:"SHORT_DATE_FORMAT" }}
                          </td>
                          <td>{{ area.atualizadoPor.username }}</td>
                          <td>
                            <!-- Editar -->
                            <a href="{% url 'users:area' area.pk %}">
                              <button class="btn btn-default btn-xs">
                                <i class="fa fa-pencil"></i>
                              </button>
                            </a>
                            <!-- Detalhes -->
                            <a href="{% url 'users:area' area.pk %}">
                              <button class="btn btn-default btn-xs">
                                <i class="fa fa-info"></i>
                              </button>
                            </a>
                          </td>
                        </tr>
                        {% endfor %} {% endif %}
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!--tab nav end-->
  </div>

</div>
{% endblock content %}
